# Django
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
TESTING=False

# Google Service Account
TYPE=service_account
PROJECT_ID=your-project-id
PRIVATE_KEY_ID=your-private-key-id
PRIVATE_KEY=your-private-key
CLIENT_EMAIL=your-client-email@your-project.iam.gserviceaccount.com
CLIENT_ID=your-client-id
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=your-client-x509-cert-url
UNIVERSE_DOMAIN=googleapis.com

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id

# Google Sheets
GS_SPREADSHEET=your-spreadsheet-id
